/* RESET */
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  box-sizing: border-box;
  font-family: 'Libre Franklin', sans-serif;
}

button:hover {
  cursor: pointer;
}

iframe {
  width: 600px;
  height: 319px;
}

/* Resets the stylesheet from material icons */

.material-icons {
  font-size: 0;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* NAVIGATION */

.nav-wrapper {
  position: fixed;
  top: 0;
  background-color: white;
  width: 100%;
  height: 38px;
  border-bottom: 1px solid #e2e2e2;
  padding: 4px 15px 2px 15px;
  z-index: 200;
}

.menu-search {
  width: 100px;
  float: left;
}

.space-cosmos {
  float: left;
  padding: 5px 0;
}

.space-anchor {
  font-family: 'Libre Franklin', sans-serif;
  color: black;
  font-weight: bold;
  font-size: 14px;
}

.nav-btns {
  position: absolute;
  right: 30px;
  width: auto;
}

.btn {
  color: white;
  border-radius: 3px;
  background-color: #567b95;
  padding: 9px 12px 8px;
  font-size: 11px;
  font-weight: bold;
  font-family: 'Libre Franklin', sans-serif;
}

.nyt-logo {
  width: 195px;
  margin: 0 auto;
  padding: 6px;
}

.icons {
  padding: 5px 8px;
  font-size: 18px;
}

/* ARTICLE */

.title-wrapper {
  width: 100%;
  position: relative;
  top: 70px;
}

h1 {
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
  font-weight: bold;
  font-size: 40px;
  width: 420px;
  margin: 0 auto;
}

.wrapper-image {
  width: 945px;
  margin: 100px auto 0 auto;
}

.wrapper-image img {
  width: 100%;
  height: 531.56px;
}

.wrapper-image figcaption {
  margin-right: 150px;
  color: rgb(94, 94, 94);
}

.author {
  width: 600px;
  margin: 30px auto;
}

.author-text {
  font-family: 'Libre Franklin', sans-serif;
  font-weight: bold;
}

.author-text span {
  text-decoration: underline rgb(180, 178, 178);
}

.author-text span:hover {
  text-decoration-color: #eee;
  cursor: pointer;
}

.wrapper-date-social {
  background-color: cadetblue;
  margin: 20px 0 55px 0;
}

.date {
  font-family: 'Times New Roman', Times, serif;
  font-weight: lighter;
  float: left;
  padding-top: 10px;
  font-size: 14px;
}

/* SOCIAL ICONS */

.icons-social {
  float: right;
  width: 250px;
  height: 30px;
}

.suggestions-aside li {
  padding: 20px 0;
  border-bottom: 1px solid rgb(226, 226, 226);
}

.footer-links li {
  height: 25px;
}

.icons-social li {
  margin-right: 20px;
  float: left;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #eee;
}

.main-footer li {
  display: inline;
  margin-right: 10px;
}

.icons-social li:hover {
  background-color: cornsilk;
  cursor: pointer;
  border: 0.5px solid gray;
}

.circle {
  margin: 7px 8px;
  width: 15px;
  height: 15px;
}

/* MAIN NEWS */

.main-news {
  position: relative;
  top: 7px;
}

.main-news p {
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.25rem;
  line-height: 1.875rem;
  margin: 0 0 15px;
}

.subtitle {
  padding: 15px 0;
}

.inflation-subtitle {
  font-family: georgia, times new roman, times, serif;
  color: #666;
  padding: 3px;
}

.wrapper-inflation {
  position: relative;
}

.mini-paragraph {
  position: absolute;
  width: 228px;
  height: 120px;
  font-size: 13px;
  padding: 5px;
}

.first-paragraph {
  top: 200px;
  left: 0;
}

.second-paragraph {
  top: 200px;
  left: 240px;
}

.third-paragraph {
  top: 200px;
  left: 480px;
}

.fourth-paragraph {
  top: 200px;
  left: 720px;
}

.fifth-paragraph {
  top: 455px;
  left: 0;
}

.sixth-paragraph {
  top: 455px;
  left: 240px;
}

.seventh-paragraph {
  top: 455px;
  left: 480px;
}

.eighth-paragraph {
  top: 455px;
  left: 720px;
}

.inflation-footer {
  font-family: 'Libre Franklin', sans-serif;
  font-size: 13px;
}

.inflation-footer::before {
  width: 60px;
  content: '';
  display: inline-block;
  height: 1px;
  margin: 0 0 13px;
  background-color: #000;
}

.caption {
  margin: 10px 0 50px 0;
}

.video-credits {
  font-size: 0.9em;
  color: #888;
}

/* FOOTER MAIN SECTION */

.footer-main-section {
  width: 600px;
  height: 100px;
}

.footer-main-section small {
  font-size: 11px;
  padding-bottom: 10px;
}

.main-footer-btn {
  float: left;
  width: 290px;
}

.move-icons {
  position: relative;
  right: -10px;
}

.wrapper-footer {
  height: 30px;
  margin-top: 20px;
}

/* SUGGESTION SECTION */

.suggestion-section {
  width: 1200px;
  margin: 100px auto 0 auto;
  height: 920px;
}

.suggestions {
  width: 840px;
  height: 700px;
  border-top: 1px solid black;
  float: left;
  padding: 0 3% 0 3%;
}

.suggestions a {
  font-size: 0.8em;
  color: black;
}

.suggestions-aside {
  width: 360px;
  height: 700px;
  float: right;
  border-top: 1px solid black;
  padding-right: 18px;
}

.suggestions-aside a {
  font-size: 19px;
  font-weight: 500;
  line-height: 1.4375rem;
  color: #121212;
}

.suggestions h4 {
  padding: 18px 0 18px 0;
}

.main-footer a {
  color: #121212;
  font-size: 10px;
}

.footer-links a {
  font-size: 12px;
  color: black;
}

.float-suggestions a {
  font-size: 12px;
  color: black;
  padding-bottom: 12px;
}

.sticky-footer a {
  text-decoration: none;
  color: black;
}

.suggestions a:hover {
  text-decoration-line: underline;
}

.suggestions-aside a:hover {
  color: #888;
  cursor: pointer;
}

.box-suggestion {
  float: left;
  width: 33.33%;
  padding-bottom: 45px;
}

.box-suggestion img {
  width: 240px;
  height: auto;
}

.clear {
  clear: both;
}

.line {
  border: 0.5px solid black;
  width: 100%;
  margin-bottom: 10px;
}

/* NAV FOOTER */

.footer-nav {
  width: 100%;
  height: 450px;
  padding: 22px 3% 0 3%;
}

.logo {
  width: 195px;
  height: auto;
}

/* FOOTER */

.wrapper-nav::before {
  content: "";
  display: block;
  height: 1px;
  margin-top: 0;
  border-bottom: 1px solid rgb(226, 226, 226);
  border-top: 2px solid rgb(226, 226, 226);
}

.wrapper-nav header {
  padding: 10px 0 15px 0;
}

.footer-links {
  width: 16.6%;
  float: left;
}

.footer-links li:first-child {
  font-size: 10px;
  font-weight: bold;
}

.footer-links a:hover {
  text-decoration: underline;
}

.footer-links:last-child {
  padding-left: 10px;
  border-left: 0.5px solid #888;
}

.footer-links:last-child li:nth-child(8) {
  border-bottom: 0.5px solid #888;
  margin-bottom: 10px;
}

/* ASIDE FLOATS */

.main-aside {
  width: 210px;
  margin: 239px 67px 0 0;
  position: absolute;
  left: 105%;
  top: 1%;
}

.signup-aside {
  width: 160px;
}

.main-aside p {
  color: #666;
  padding: 8px 0 8px 0;
  font-size: 13px;
  line-height: 1.2em;
}

.main-aside button {
  width: 100%;
}

.float-suggestions {
  margin-top: 1027px;
  width: 210px;
}

.float-suggestions figure {
  margin: 10px 0 40px 0;
  clear: both;
}

.float-suggestions img {
  float: left;
  width: 75px;
  height: 75px;
}

.float-suggestions h4 {
  border-bottom: 1.2px solid #aeaeae;
  height: 26px;
}

.float-suggestions figcaption {
  margin-left: 90px;
  font-size: 12px;
}

/* FOOTER MAIN PAGE */

.main-footer {
  text-align: center;
  height: 120px;
  border-top: 0.2px solid #888;
}

.main-footer ul {
  margin: 20px auto;
}

.main-footer a:hover {
  text-decoration: underline;
}

/* STICKY FOOTER */

.sticky-footer {
  position: fixed;
  z-index: 10000;
  bottom: 0;
  background-color: white;
  width: 100%;
  border-top: 1px solid black;
  height: 55px;
  text-align: center;
}

.footer-access {
  display: inline-block;
  margin: 20px 20px 0 0;
  width: 100%;
}

.sticky-footer a:hover {
  text-decoration: underline;
}

.sticky-footer button {
  position: absolute;
  right: 9%;
  width: 175px;
  background-color: inherit;
}

.sticky-footer strong {
  color: black;
  padding-right: 4%;
  font-size: 0.8em;
}

.css-8xcdch {
  transform: rotate(-90deg);
}
