/* RESET */
* {
    margin: 0; 
    padding: 0; 
    border: 0; 
    outline: none;
}

ul,li{
    list-style: none;
}

/* Resets the stylesheet from material icons */

.material-icons {
    font-size: 0px;
}

/* NAVIGATION */
.nav-wrapper {
    position: fixed;
    top:0;
    background-color: white;
    width: 100%;
    height: 38px;
    border-bottom: 1px solid #e2e2e2;
    padding: 4px 15px 2px 15px;
    z-index: 200;
}
.menu-search {
    width: 100px;
    float: left;
}

.space-cosmos {
    float: left;
    padding: 10px 0px; 
}

.space-anchor {
    font-family: 'Libre Franklin', sans-serif;
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 14px;
}

.nav-btns {
    position: absolute;
    right: 30px;
    width: auto;
}

.nyt-logo {
    width: 195px;
    margin: 0 auto;
    padding: 6px;
}

.icons {
    padding: 9px 8px;
    font-size: 18px;
}

.btn {
    color: white;
    border-radius: 3px;
    background-color: #567b95;
    padding: 9px 12px 8px;
    font-size: 11px;
    font-weight: bold;
    font-family: 'Libre Franklin', sans-serif;
}

.title-wrapper {
    width: 100%;
    position: relative;
    top:70px;
}

h1 {
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: bold;
    font-size: 40px;
    width: 420px;
    position: relative;
    left:290px;
}

.wrapper-image {
    width: 945px;
    margin: 100px auto 0 auto;
    
}

.wrapper-image img {
    width:100%;
    height: 531.56px;
    
}

.wrapper-image figcaption {
    margin-right: 150px;
    color: rgb(94, 94, 94);
    background-color: hotpink;
}

.author{
    /* background-color: gray; */
    width:600px;
    margin: 30px auto;
}

.author-text{
    font-family: 'Libre Franklin', sans-serif;
    font-weight: bold;
}

.wrapper-date-social {
    background-color: cadetblue;
    margin-top:20px;
}

.date {
    font-family:'Times New Roman', Times, serif;;
    font-weight: lighter;
    float: left;
    padding-top: 8px;
}

.icons-social{
    float: right;
    /* background: brown; */
}

.icons-social li {
    display: inline;
    margin: 0 10px;
}

.circle{
    border-radius: 100%;
    padding: 10px;
    background-color: rgb(202, 202, 202);
}


/* main-news */

.main-news {
    position: relative;
    top:50px;
}

.main-news p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.25rem;
    line-height: 1.875rem;
    margin: 0 0 15px;
}

.subtitle {
    padding: 15px 0;
}

.inflation-subtitle {
    font-family: georgia,times new roman,times,serif;
    color: #666;
    padding: 3px;
}

.wrapper-inflation {
    position: relative;
}

.mini-paragraph {
    position: absolute;
    width: 228px;
    height: 120px;
    font-size: 14px;
    padding: 5px;
}

.first-paragraph {
    top: 200px;
    left:0;
}

.second-paragraph {
    top: 200px;
    left: 240px;
}

.third-paragraph {
    top: 200px;
    left: 480px;
}

.fourth-paragraph {
    top: 200px;
    left: 720px;
}

.fifth-paragraph {
    top: 455px;
    left: 0;
}

.sixth-paragraph {
    top: 455px;
    left: 240px;
}

.seventh-paragraph {
    top: 455px;
    left: 480px;
}

.eighth-paragraph {
    top: 455px;
    left: 720px;
}

.inflation-footer {
    font-family: 'Libre Franklin', sans-serif;
    font-size: 13px;
}

.inflation-footer::before {
    width: 60px;
    content: '';
    display: inline-block;
    height: 1px;
    margin: 0 0 13px;
    background-color: #000;
}

.caption {
    margin: 10px 0 50px 0;
}

.video-credits {
    font-size: 0.9em;
    color: #888;
}

